<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{index.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
  <meta charset="UTF-8"/>
  <title>Usaurios</title>
</head>
<body>
<div layout:fragment="content">

  <div class="row" >
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group" id="VDocumento">
      <div class="card card-custom card-outline card-sistema">
        <!--begin::Header-->
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
          <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Usuario</span>
            <span class="text-muted mt-1 font-weight-bold font-size-sm">Cree un nuevo Usuario.</span>
          </h3>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
          <div class="row lg-wrap">
            <div class="col-sm-1 col-md-2 d-none">
              <div class="form-group">
                <label class="control-label">Id</label>
                <input class="form-control form-control-sm" type="text" id="txt_id_usua" data-valida="true">
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-lg-2">
              <div class="form-group">
                <label class="control-label">Usuario</label>
                <input class="form-control form-control-sm" type="text" id="txt_usuario" data-valida="true">
              </div>
            </div>
            <div class="col-sm-1 col-md-2">
              <div class="form-group">
                <label class="control-label">Clave</label>
                <input class="form-control form-control-sm" type="password" id="txt_clave" data-valida="true">
              </div>
            </div>
            <div class="col-sm-1 col-md-2">
              <div class="form-group">
                <label class="control-label">Rol</label>
                <select class="form-control  form-control-sm" id="roles" data-valida="true">
                </select>
              </div>
            </div>

            <div class="col-sm-1 col-md-2">
              <div class="form-group">
                <label class="control-label">Estado</label>
                <div>
                  <div class="btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary" id="cro_activo">
                      <input type="radio" name="rdb_estado" id="ro_activo" autocomplete="off" checked value="ACT"> Activo
                    </label>
                    <label class="btn btn-secondary" id="cro_inactivo">
                      <input type="radio" name="rdb_estado" id="ro_inactivo" autocomplete="off" value="INA" disabled> Inactivo
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-2">
                <div class="form-group">
                  <label class="control-label">Sexo</label>
                  <div>
                    <div class="btn-group-sm btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary" id="cro_femenino">
                        <input type="radio" name="rdb_sexo" id="ro_femenino" autocomplete="off"  value="F"> Femenino
                      </label>
                      <label class="btn btn-primary " id="cro_masculino">
                        <input type="radio" name="rdb_sexo" id="ro_masculino" autocomplete="off" value="M" checked> Masculino
                      </label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-lg-2">
                <div class="form-group">
                  <label class="control-label">Primer Nombre</label>
                  <input class="form-control form-control-sm" type="text" id="txt_prim_nombre" data-valida="true">
                </div>
              </div>
              <div class="col-sm-1 col-md-4 col-lg-2">
                <div class="form-group">
                  <label class="control-label">Segundo Nombre</label>
                  <input class="form-control form-control-sm" type="text" id="txt_segu_nombre" data-valida="true">
                </div>
              </div>
              <div class="col-sm-1 col-md-4 col-lg-2">
                <div class="form-group">
                  <label class="control-label">Apellido Parterno</label>
                  <input class="form-control form-control-sm" type="text" id="txt_ape_pate" data-valida="true">
                </div>
              </div>
              <div class="col-sm-1 col-md-4 col-lg-2">
                <div class="form-group">
                  <label class="control-label">Apellido Materno</label>
                  <input class="form-control form-control-sm" type="text" id="txt_ape_mate" data-valida="true">
                </div>
              </div>
              <div class="col-sm-1 col-md-4 col-lg-2">
                <div class="form-group">
                  <label class="control-label">Nuero Teléfono</label>
                  <input class="form-control form-control-sm" type="text" id="txt_num_telf" data-valida="true">
                </div>
              </div>
              <div class="col-sm-1 col-md-4 col-lg-2">
                <div class="form-group">
                  <label class="control-label">Fecha Nacimiento</label>
                  <input class="form-control form-control-sm" type="date" id="txt_fec_naci" data-valida="true">
                </div>
              </div>
          </div>
        </div>
        <div class="card-footer">
          <button
                  id="btn_grabar"
                  type="button"
                  class="btn btn-primary mr-2"
          >
            Grabar
          </button>
          <button id="btn_cancelar" type="button" class="btn btn-secondary" disabled>Cancelar</button>
        </div>
      </div>
    </div>    
  </div>
  <div class="row" id="VListaDocumento">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group">
      <div class="card card-custom card-outline card-sistema">
        <!--begin::Header-->
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
          <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Listado de Usuarios</span>
            <span class="text-muted mt-1 font-weight-bold font-size-sm"></span>
          </h3>
          <div class="card-toolbar">
            <div class="dropdown dropdown-inline mr-2">
              <button type="button" class="btn btn-light-success font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="svg-icon svg-icon-md">
                                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/PenAndRuller.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3"></path>
                                        <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000"></path>
                                    </g>
                                </svg>
                              <!--end::Svg Icon-->
                            </span>Exportar
              </button>
              <!--begin::Dropdown Menu-->
              <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                <!--begin::Navigation-->
                <ul class="navi flex-column navi-hover py-2">
                  <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Seleccione una Opcion:</li>
                  <li class="navi-item">
                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-eye"></i>
                                        </span>
                      <span class="navi-text">Vista Previa</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-file-text-o"></i>
                                        </span>
                      <span class="navi-text">CSV</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-file-pdf-o"></i>
                                        </span>
                      <span class="navi-text">PDF</span>
                    </a>
                  </li>
                </ul>
                <!--end::Navigation-->
              </div>
              <!--end::Dropdown Menu-->
            </div>
          </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
          <table id="TblUsuario" class="table table-separate table-head-custom dataTable no-footer dtr-inline" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Id</th>
              <th>Usuario</th>
              <th>Nombre</th>
              <th>Numero Telefono</th>
              <th>Fecha Nacimiento</th>
              <th>Sexo</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div layout:fragment="scripts">
  <script>
     const TblUsuario = $('#TblUsuario').DataTable({
            columns: [
                { data: 'id', visible: false },
                { data: 'usuario' },
                { data: 'nomUsua'},
                { data: 'numTelf' },
                { data: 'fecNaci' },
                {
                    data: 'sexo',
                    className: 'text-center',
                    render: function (data, type, row) {
                        switch (data) {
                            case "M":
                                return `<span class="label label-lg font-weight-bold label-light-primary label-inline">Masculino</span>`;
                                break;
                            case "F":
                                return `<span class="label label-lg font-weight-bold label-light-info label-inline">Femenino</span>`;
                                break;
                        }

                    }
                },
                {
                    data: 'estado',
                    className: 'text-center',
                    render: function (data, type, row) {
                        switch (data) {
                            case "ACT":
                                return `<span class="label label-lg font-weight-bold label-light-primary label-inline">Activo</span>`;
                                break;
                            case "INA":
                                return `<span class="label label-lg font-weight-bold label-light-danger label-inline">Inactivo</span>`;
                                break;
                        }

                    }
                },
                {
              data: null,
              render: function () {
                  return `<a class="btn btn-sm btn-clean btn-icon mr-2 edit" title="Editar">
                             <span class="svg-icon svg-icon-primary svg-icon-md">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                   <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"></rect>
                                      <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) ">
                                        </path>
                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                    </g>
                                </svg>
                              </span>
                           </a>
                           <a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete" title="Eliminar">
                             <span class="svg-icon svg-icon-danger svg-icon-md">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                   <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                       <rect x="0" y="0" width="24" height="24"></rect>
                                         <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>
                                         <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                                    </g>
                                 </svg>
                               </span>
                            </a>
                        `
                }
            }
            ],
            language: VGlobal.table_es,
            "scrollX": true
        });
     
     $('#TblUsuario tbody').on( 'click', '.edit', function (e) {
           e.preventDefault();
           var data = TblUsuario.row( $(this).parents('tr') ).data();
           BuscarUsuario(data.id);
     } );

    $('#TblUsuario tbody').on( 'click', '.delete', function (e) {
          e.preventDefault();
          var data = TblUsuario.row( $(this).parents('tr') ).data();
          EliminarUsuario(data.id);

    } );

    $('input:radio[name=rdb_estado]').on("click",function (e) {
          if (this.value == 'ACT') {
              $("#cro_inactivo").removeClass("btn-danger").addClass("btn-secondary");
              $("#cro_activo").removeClass("btn-secondary btn-primary").addClass("btn-primary");
          }
          else {
              $("#cro_activo").removeClass("btn-primary").addClass("btn-secondary");
              $("#cro_inactivo").removeClass("btn-secondary btn-danger").addClass("btn-danger");
          }
      });

    $('input:radio[name=rdb_sexo]').on("click",function (e) {
          if (this.value == 'M') {
              $("#cro_femenino").removeClass("btn-info").addClass("btn-secondary");
              $("#cro_masculino").removeClass("btn-secondary btn-primary").addClass("btn-primary");
          }
          else {
              $("#cro_masculino").removeClass("btn-primary").addClass("btn-secondary");
              $("#cro_femenino").removeClass("btn-secondary btn-info").addClass("btn-info");
          }
      });


     LlenarTabla();
     LlenarRoles();
     //Botones Mantenimiento
    $('#btn_grabar').click((e) => {
      if (VGlobal.actualizar == true) {
          Actualizar();
      } else {
          Grabar();
      }    
    });

    function LlenarTabla() {
            $.ajax({
                type: "GET",
                url: `usuario/listar`,
                dataType: "json",
                success: function (response) {
                  TblUsuario.clear().rows.add(response.lista).columns.adjust().draw();
                }
            });
     }

    function LlenarRoles() {
            $.ajax({
                type: "GET",
                url: `rol/listar`,
                dataType: "json",
                success: function (response) {
                  $.map(response.lista, function (elementOrValue, indexOrKey) {
                    let option = `<option value="${elementOrValue.id}" >${elementOrValue.desRol}</option>`
                    $("#roles").append(option);
                  });
              
                }
            });
     }

    function Grabar() {
        let metodo = function () {
            $.ajax({
                type: "POST",
                url: `usuario/insertar`,
                data: { 
                  queryData: JSON.stringify({
                    usuario: $("#txt_usuario").val(),
                    clave: $("#txt_clave").val(),
                    primNombre: $("#txt_prim_nombre").val(),
                    seguNombre: $("#txt_segu_nombre").val(),
                    apePate: $("#txt_ape_pate").val(),
                    apeMate: $("#txt_ape_mate").val(),
                    sexo: $('input:radio[name=rdb_sexo]:checked').val(),
                    numTelf: $("#txt_num_telf").val(),
                    fecNaci: $("#txt_fec_naci").val(),
                    estado: $('input:radio[name=rdb_estado]:checked').val(),   
                  }),
                  idRol: $("#roles option:selected").val(),
                  idEmpr: 1,

                },
                dataType: "json",
                success: function (response) {
                        FGlobal.notificacion.satisfactorio("Aviso", "Se Grabo con Exito!!");
                        TblUsuario.clear().rows.add(response.lista).columns.adjust().draw();
                        LimpiarCampos();
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });
        }
        FGlobal.Confirmacion("¿Desea Grabar el Usuario?", metodo)
    }

    function BuscarUsuario(id) {
       $.ajax({
             type: "GET",
             url: `usuario/buscarUsuario`,
             data: {
               idUsua: id
             },
             dataType: "json",
             async: false,
             success: function (response) {
               $("#txt_id_usua").val(response.data.id);
               $("#txt_usuario").val(response.data.usuario);
               $("#txt_clave").val(response.data.clave);
               $("#roles").val(response.data.rol.id).change();
               if (response.data.estado == "ACT") {
                $('#ro_activo').prop("checked",true);
                $('#cro_activo').removeClass("btn-secondary").addClass("btn-primary");
                $('#cro_inactivo').removeClass("btn-danger").addClass("btn-secondary");
              }else{
                $('#ro_inactivo').prop("checked",true);
                $('#cro_inactivo').removeClass("btn-secondary").addClass("btn-danger");
                $('#cro_activo').removeClass("btn-primary").addClass("btn-secondary");
              }
              if (response.data.sexo == "M") {
                $('#ro_masculino').prop("checked",true);
                $("#cro_femenino").removeClass("btn-info").addClass("btn-secondary");
                $("#cro_masculino").removeClass("btn-secondary btn-primary").addClass("btn-primary");
              }else{
                $('#ro_femenino').prop("checked",true);
                $("#cro_masculino").removeClass("btn-primary").addClass("btn-secondary");
                $("#cro_femenino").removeClass("btn-secondary btn-info").addClass("btn-info");
              }
              $("#txt_prim_nombre").val(response.data.primNombre);
              $("#txt_segu_nombre").val(response.data.seguNombre);
              $("#txt_ape_pate").val(response.data.apePate);
              $("#txt_ape_mate").val(response.data.apeMate);
              $("#txt_num_telf").val(response.data.numTelf);
              $("#txt_fec_naci").val(response.data.fecNaci);
              $('#ro_inactivo').prop("disabled",false);
              VGlobal.actualizar = true;
             }
       });
     }

    function Actualizar() {
       let metodo = function () {
           $.ajax({
               type: "POST",
               url: `usuario/actualizar`,
               data: { 
                 queryData: JSON.stringify({
                   id: $("#txt_id_usua").val(),
                   usuario: $("#txt_usuario").val(),
                   clave: $("#txt_clave").val(),
                   primNombre: $("#txt_prim_nombre").val(),
                   seguNombre: $("#txt_segu_nombre").val(),
                   apePate: $("#txt_ape_pate").val(),
                   apeMate: $("#txt_ape_mate").val(),
                   sexo: $('input:radio[name=rdb_sexo]:checked').val(),
                   numTelf: $("#txt_num_telf").val(),
                   fecNaci: $("#txt_fec_naci").val(),
                   estado: $('input:radio[name=rdb_estado]:checked').val(),   
                 }),
                 idRol: $("#roles option:selected").val(),
                 idEmpr: 1,

               },
               dataType: "json",
               success: function (response) {
                       FGlobal.notificacion.satisfactorio("Aviso", "Se Actualizo con Exito!!");
                       TblUsuario.clear().rows.add(response.lista).columns.adjust().draw();
                       LimpiarCampos();
               },
               error: function (jqXHR, textStatus, errorThrown) {

               }
           });
       }
       FGlobal.Confirmacion("¿Desea Actualizar el Usuario?", metodo)
    }
    
    function EliminarUsuario(id) {
      let metodo = function () {
        $.ajax({
              type: "POST",
              url: `usuario/eliminar`,
              data: {
                idUsua: id
              },
              dataType: "json",
              async: false,
              success: function (response) {
                TblUsuario.clear().rows.add(response.lista).columns.adjust().draw();
              }
        });
      }
      FGlobal.Confirmacion("¿Desea Eliminar el Usuario?", metodo)
    }

    function LimpiarCampos() {
           $("#txt_id_usua").val("");
           $("#txt_usuario").val("");
           $("#txt_clave").val("");
           $("#txt_id_usua").val("");
           $("#txt_id_usua").val("");
           $("#txt_id_usua").val("");
           $('#ro_activo').prop("checked",true);
           $('#cro_activo').removeClass("btn-secondary").addClass("btn-primary");
           $('#cro_inactivo').removeClass("btn-danger").addClass("btn-secondary");
           $('#ro_inactivo').prop("disabled",true);

           $('#ro_masculino').prop("checked",true);
           $('#cro_masculino').removeClass("btn-secondary").addClass("btn-primary");
           $('#cro_femenino').removeClass("btn-info").addClass("btn-secondary");
           $('#ro_femenino').prop("disabled",true);
           $("#txt_prim_nombre").val("");
           $("#txt_segu_nombre").val("");
           $("#txt_ape_pate").val("");
           $("#txt_ape_mate").val("");
           $("#txt_num_telf").val("");
           $("#txt_fec_naci").val("");
      }

  </script>
</div>
</body>
</html>
