<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index.html}">

<head>
	<meta charset="utf-8">
	<title>Motorizados</title>
</head>

<body>

	<div layout:fragment="content" class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 ">
				<div class="x_panel">
					<div class="x_title">
						<h2>Motorizado <small>Ingrese un nuevo motorizado</small></h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br>
						<form class="form-horizontal form-label-left">
							<div class="form-group">
								<div class="">
									<a href="/motorizado/nuevo" class="btn btn-primary mb-3">
										Agregar Motorizado </a>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-striped jambo_table bulk_action">
									<thead>
										<tr class="headings">

											<th class="column-title" style="display: table-cell;">ID </th>
											<th class="column-title" style="display: table-cell;">NOMBRE </th>
											<th class="column-title" style="display: table-cell;">AP. PATERNO </th>
											<th class="column-title" style="display: table-cell;">AP. MATERNO </th>
											<th class="column-title" style="display: table-cell;">TIP. DOCUMENTO </th>
											<th class="column-title" style="display: table-cell;">NUM. DOCUMENTO </th>
											<th class="column-title" style="display: table-cell;">CORREO </th>
											<th class="column-title" style="display: table-cell;">TELEFONO </th>
											<th class="column-title" style="display: table-cell;">FEC. NACIMIENTO </th>
											<th class="column-title" style="display: table-cell;">NUM. LICECNIA </th>
											<th class="column-title" style="display: table-cell;">NUM. PLACA </th>
											<th class="column-title" style="display: table-cell;"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="motorizado : ${motorizados}" th:object="${motorizado}">
											<td th:text="${motorizado.id}"></td>
											<td th:text="${motorizado.nombre}"></td>
											<td th:text="${motorizado.apePaterno}"></td>
											<td th:text="${motorizado.apeMaterno}"></td>
											<td th:text="${motorizado.tipDocumento}"></td>
											<td th:text="${motorizado.numDocumento}"></td>
											<td th:text="${motorizado.correo}"></td>
											<td th:text="${motorizado.telefono}"></td>
											<td th:text="*{#temporals.format(fechaNacimiento,'dd/MM/yyyy')}"></td>
											<td th:text="${motorizado.numLicencia}"></td>
											<td th:text="${motorizado.numPlaca}"></td>
											<td class="text-end">
												<a th:href="@{/motorizado/{id}/editar(id=${motorizado.id})}">Editar</a>
												
												<a href="javascript:void(0)" class="text-danger ms-3"
													th:onclick="'eliminarMotorizado(' + ${motorizado.id} +')'">Eliminar</a>												
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div layout:fragment="scripts">
		<script>
			function eliminarMotorizado(id) {
				$.ajax({
					type: "POST",
					data: {
						idMotorizado: id
					},
					url: '/motorizado/eliminar',
					success: function (data) {
						window.location.href = "http://localhost:8080/motorizado";
					},
					error: function () { }
				});
			}
		</script>
	</div>

</body>

</html>