<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>
  <meta charset="UTF-8" />
  <title>Pedido De Compra</title>
</head>

<body>
  <div layout:fragment="content">
    <div class="row" id="Cr-Producto-Datos">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
          <div class="mb-5">
              <div class="card card-custom card-outline card-sistema">
                  <!--begin::Header-->
                  <div class="card-header flex-wrap border-0 pt-6 pb-0">
                      <h3 class="card-title align-items-start flex-column">
                          <span class="card-label font-weight-bolder text-dark">Pedido de Compra</span>
                          <span class="text-muted mt-1 font-weight-bold font-size-sm">Cree un nuevo Pedido de Compra.</span>
                      </h3>
                      <div class="card-toolbar">
                        <a href="#" class="btn btn-sm btn-primary font-weight-bold" id="BtnGrabarPedido">
                            <i class="flaticon2-cube"></i>Grabar</a>
                        <!-- <a href="#" class="btn btn-sm btn-success font-weight-bold ml-2">
                            <i class="flaticon2-checkmark"></i>Aprobar</a> -->
                      </div>
                  </div>
                  <!--end::Header-->
                  <!--begin::Body-->
                  <div class="card-body">
                      <div class="row">
                          <div class="col-sm-1 col-md-2 col-lg-3 col-xl-3">
                              <h3>Numero Pedido <span class="text-danger" id="LblNumPediComp"></span></h3>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1 col-md-3 col-lg-4 col-xl-4">
                              <div class="" id="C-SLProveedor">
                                  <label class="control-label">Proveedor</label>
                                  <select id="SLProveedor" class="select2 select2-sischef" data-content-id="C-SLProveedor" data-content-option="select2-SLProveedor-container" data-dropdown-css-class="select2-sischef" data-valida="true">
                                      <option></option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-sm-1 col-md-3 col-lg-4 col-xl-4">
                              <div class="" id="C-SLDireccion">
                                  <label class="control-label">Direccion</label>
                                  <input class="form-control form-control-sm" type="text" id="txt_des_dire" data-valida="true" >
                              </div>
                          </div>
                          <div class="col-sm-1 col-md-1 col-lg-1 col-xl-2">
                              <div class="" id="C-SLMoneda">
                                  <label class="control-label">Moneda</label>
                                  <select id="SLMoneda" class="select2 select2-sischef" data-content-id="C-SLMoneda" data-content-option="select2-SLMoneda-container" data-dropdown-css-class="select2-sischef" data-valida="true">
                                      <option></option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-sm-1 col-md-1 col-lg-2 col-xl-2">
                            <div class="" id="C-SLDireccion">
                                <label class="control-label">Factor Cambio</label>
                                <input class="form-control form-control-sm text-rigth" type="number" id="txt_fec_naci" data-valida="true" disabled>
                            </div>
                        </div>
                          <div class="col-sm-1 col-md-3 col-lg-3 col-xl-3">
                              <div class="" id="C-SLCondicionPago">
                                  <label class="control-label">Condicion de Pago</label>
                                  <select id="SLCondicionPago" class="select2 select2-sischef" data-content-id="C-SLCondicionPago" data-content-option="select2-SLCondicionPago-container" data-dropdown-css-class="select2-sischef" data-valida="true">
                                      <option></option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-sm-1 col-md-3 col-lg-4 col-xl-4">
                              <div class="" id="C-SLAlmacen">
                                  <label class="control-label">Almacen</label>
                                  <select id="SLAlmacen" class="select2 select2-sischef" data-content-id="C-SLAlmacen" data-content-option="select2-SLAlmacen-container" data-dropdown-css-class="select2-sischef" data-valida="true">
                                      <option></option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-sm-1 col-md-4 col-lg-2">
                            <div class="form-group">
                              <label class="control-label">Fecha Emisión</label>
                              <input class="form-control form-control-sm" type="date" id="txt_fec_emis" data-valida="true">
                            </div>
                          </div>
                          <div class="col-sm-1 col-md-4 col-lg-2">
                            <div class="form-group">
                              <label class="control-label">Fecha Expiración</label>
                              <input class="form-control form-control-sm" type="date" id="txt_fec_expi" data-valida="true">
                            </div>
                          </div>
                          <div class="col-sm-1 col-md-3 col-lg-4 col-xl-12">
                            <div class="" id="C-SLDireccion">
                                <label class="control-label">Observacion</label>
                                <input class="form-control form-control-sm" type="text" id="txt_des_obse" data-valida="true" >
                            </div>
                        </div>
                      </div>
  
  
  
                  </div>
  
              </div>
          </div>
  
          <div class="">
              <div class="card card-custom card-outline card-sistema">
                  <!--begin::Header-->
                  <div class="card-header flex-wrap border-0 pt-6 pb-0">
                      <h3 class="card-title align-items-start flex-column">
                          <span class="card-label font-weight-bolder text-dark">Detalle del Pedido</span>
                          <span class="text-muted mt-1 font-weight-bold font-size-sm"></span>
                      </h3>
                      <div class="card-toolbar">
                          <div class="dropdown dropdown-inline mr-2">
                              <button type="button" class="btn btn-light-success font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="svg-icon svg-icon-md">
                                      <svg xmlns="http://www.w3.org/2000/svg"
                                           xmlns:xlink="http://www.w3.org/1999/xlink"
                                           width="24px"
                                           height="24px"
                                           viewBox="0 0 24 24"
                                           version="1.1">
                                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                              <rect x="0" y="0" width="24" height="24"></rect>
                                              <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                                                    fill="#000000"></path>
                                          </g>
                                      </svg>
                                  </span>
                              </button>
                              <!--begin::Dropdown Menu-->
                              <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                  <!--begin::Navigation-->
                                  <ul class="navi flex-column navi-hover py-2">
                                      <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Seleccione una Opcion:</li>
                                      <li class="navi-item">
                                          <a href="#" class="navi-link">
                                              <span class="navi-icon">
                                                  <i class="la la-eye"></i>
                                              </span>
                                              <span class="navi-text">Vista Previa</span>
                                          </a>
                                      </li>
                                      <li class="navi-item">
                                          <a href="#" class="navi-link">
                                              <span class="navi-icon">
                                                  <i class="la la-file-text-o"></i>
                                              </span>
                                              <span class="navi-text">CSV</span>
                                          </a>
                                      </li>
                                      <li class="navi-item">
                                          <a href="#" class="navi-link">
                                              <span class="navi-icon">
                                                  <i class="la la-file-pdf-o"></i>
                                              </span>
                                              <span class="navi-text">PDF</span>
                                          </a>
                                      </li>
                                  </ul>
                                  <!--end::Navigation-->
                              </div>
                              <!--end::Dropdown Menu-->
                          </div>
                      </div>
                  </div>
                  <!--end::Header-->
                  <!--begin::Body-->
                  <div class="card-body">
                      <table id="TblDetallePedido" class="table table-separate table-head-custom dataTable no-footer dtr-inline" cellspacing="0" width="100%">
                          <thead>
                              <tr>
                                  <th>id</th>
                                  <th></th>
                                  <th>Codigo</th>
                                  <th>Nombre</th>
                                  <th>Cantidad</th>
                                  <th>Costo</th>
                                  <th>Detalle</th>
                              </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table>
                  </div>
  
              </div>
          </div>
  
  
      </div>
  
  
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <div class="card card-custom card-outline card-sistema card-stretch">
              <!--begin::Header-->
              <div class="card-header flex-wrap border-0 pt-6 pb-0">
                  <h3 class="card-title align-items-start flex-column">
                      <span class="card-label font-weight-bolder text-dark">Listado de Productos</span>
                      <span class="text-muted mt-1 font-weight-bold font-size-sm">Seleccione los productos para el pedio.</span>
                  </h3>
                  <div class="card-toolbar">
                      <a class="btn btn-light-primary font-weight-bold" id="BtnFiltroProducto">
                          <i class="fas fa-filter"></i> Filtrar
                      </a>
                  </div>
              </div>
              <!--end::Header-->
              <!--begin::Body-->
              <div class="card-body">
                  <div class="form-group">
                      <label class="control-label">Buscar</label>
                      <div class="input-group">
                          <input id="TxtBusqProducto" type="text" class="form-control input-search" placeholder="Buscar por...">
                          <div class="input-group-append">
                              <button id="BtnBusqProducto" class="btn btn-light-primary" type="button"><i class="fas fa-search"></i></button>
                          </div>
                      </div>
                  </div>
                  <div id="CListProductos" style="height:590px; overflow:auto">
                      <div id="CVacio" class="d-flex flex-column justify-content-center">
                          <span class="text-center text-dark-25" ><i class="fas fa-plus-square" style="font-size: 5rem;"></i></span>
                          <span class="text-center text-dark-25 font-weight-bold" style="font-size: 1.5rem;">Buscar Productos</span>
                      </div>                      
                  </div>
                  <div class="">
                    <button id="BtnAgregarProductos" class="w-100 font-weight-bold btn btn-light-primary" type="button"><i class="fas fa-plus-square"></i> AGREGAR</button>
                  </div>
              </div>
  
          </div>
      </div>
  </div>
  </div>

  <div layout:fragment="scripts">
    <script th:src="@{/Scripts/Sistema/PedidoCompra.js}"></script>
  </div>
</body>

</html>