<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{index.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
  <meta charset="UTF-8"/>
  <title>Proveedores</title>
</head>
<body>
<div layout:fragment="content">

  <div class="row" >
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group" id="VDocumento">
      <div class="card card-custom card-outline card-sistema">
        <!--begin::Header-->
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
          <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Proveedor</span>
            <span class="text-muted mt-1 font-weight-bold font-size-sm">Cree un nuevo Proveedor.</span>
          </h3>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
          <div class="row lg-wrap">
            <div class="col-sm-1 col-md-2 d-none">
              <div class="form-group">
                <label class="control-label">Id</label>
                <input class="form-control form-control-sm" type="text" id="txt_id_prov" data-valida="true">
              </div>
            </div>
            <div class="col-sm-1 col-md-2">
              <div class="form-group">
                <label class="control-label">Tipo Persona</label>
                <div>
                  <div class="btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary" id="cro_natural">
                      <input type="radio" name="rdb_persona" id="ro_natural" autocomplete="off"  value="N"> Natural
                    </label>
                    <label class="btn btn-primary " id="cro_juridico">
                      <input type="radio" name="rdb_persona" id="ro_juridico" autocomplete="off" value="J" checked> Juridico
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-2">
              <div class="form-group">
                <label class="control-label">Tipo Documento Identidad</label>
                <select class="form-control  form-control-sm" id="TipoDocuIden" data-valida="true">
                  <option value="RUC" >RUC</option>
                  <option value="DNI" >DNI</option>
                </select>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-lg-2">
              <div class="form-group">
                <label class="control-label" id="lbl_num_docu_iden">Numero RUC</label>
                <input class="form-control form-control-sm" type="text" id="txt_num_docu_iden" data-valida="true">
              </div>
            </div> 
            <div class="col-sm-1 col-md-2">
              <div class="form-group">
                <label class="control-label">Tipo Proveedor</label>
                <select class="form-control  form-control-sm" id="TipoProv" data-valida="true">
                </select>
              </div>
            </div> 
            <div class="col-sm-1 col-md-4 col-lg-2">
              <div class="form-group">
                <label class="control-label">Correo Electronico</label>
                <input class="form-control form-control-sm" type="text" id="txt_des_mail" data-valida="true">
              </div>
            </div>
            <div class="col-sm-1 col-md-2">
              <div class="form-group">
                <label class="control-label">Estado</label>
                <div>
                  <div class="btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary" id="cro_activo">
                      <input type="radio" name="rdb_estado" id="ro_activo" autocomplete="off" checked value="ACT"> Activo
                    </label>
                    <label class="btn btn-secondary" id="cro_inactivo">
                      <input type="radio" name="rdb_estado" id="ro_inactivo" autocomplete="off" value="INA" disabled> Inactivo
                    </label>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
          <div class="row" id="Cont-Data-Natural" style="display: none;">
            <div class="col-sm-1 col-md-4 col-lg-2">
                <div class="form-group">
                  <label class="control-label">Primer Nombre</label>
                  <input class="form-control form-control-sm" type="text" id="txt_pri_nombre" data-valida="true">
                </div>
              </div>
              <div class="col-sm-1 col-md-4 col-lg-2">
                <div class="form-group">
                  <label class="control-label">Segundo Nombre</label>
                  <input class="form-control form-control-sm" type="text" id="txt_seg_nombre" data-valida="true">
                </div>
              </div>
              <div class="col-sm-1 col-md-4 col-lg-2">
                <div class="form-group">
                  <label class="control-label">Apellido Parterno</label>
                  <input class="form-control form-control-sm" type="text" id="txt_ape_pate" data-valida="true">
                </div>
              </div>
              <div class="col-sm-1 col-md-4 col-lg-2">
                <div class="form-group">
                  <label class="control-label">Apellido Materno</label>
                  <input class="form-control form-control-sm" type="text" id="txt_ape_mate" data-valida="true">
                </div>
              </div>
          </div>
          <div class="row" id="Cont-Data-Juridico">
            <div class="col-sm-1 col-md-4 col-lg-6">
                <div class="form-group">
                  <label class="control-label">Razon Social</label>
                  <input class="form-control form-control-sm" type="text" id="txt_des_razo_Soci" data-valida="true">
                </div>
            </div>             
          </div>
          <h3>Datos Defecto</h3>
          <div class="row" id="">
            <div class="col-sm-1 col-md-2">
              <div class="form-group">
                <label class="control-label">Condicion Pago</label>
                <select class="form-control  form-control-sm" id="CondPago" data-valida="true">
                </select>
              </div>
            </div>   
            <div class="col-sm-1 col-md-2">
              <div class="form-group">
                <label class="control-label">Moneda</label>
                <select class="form-control  form-control-sm" id="Moneda" data-valida="true">
                </select>
              </div>
            </div>         
          </div>
        </div>
        <div class="card-footer">
          <button
                  id="btn_grabar"
                  type="button"
                  class="btn btn-primary mr-2"
          >
            Grabar
          </button>
          <button id="btn_cancelar" type="button" class="btn btn-secondary" disabled>Cancelar</button>
        </div>
      </div>
    </div>    
  </div>
  <div class="row" id="VListaProveedor">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group">
      <div class="card card-custom card-outline card-sistema">
        <!--begin::Header-->
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
          <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Listado de Proveedores</span>
            <span class="text-muted mt-1 font-weight-bold font-size-sm"></span>
          </h3>
          <div class="card-toolbar">
            <div class="dropdown dropdown-inline mr-2">
              <button type="button" class="btn btn-light-success font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="svg-icon svg-icon-md">
                                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/PenAndRuller.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3"></path>
                                        <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000"></path>
                                    </g>
                                </svg>
                              <!--end::Svg Icon-->
                            </span>Exportar
              </button>
              <!--begin::Dropdown Menu-->
              <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                <!--begin::Navigation-->
                <ul class="navi flex-column navi-hover py-2">
                  <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Seleccione una Opcion:</li>
                  <li class="navi-item">
                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-eye"></i>
                                        </span>
                      <span class="navi-text">Vista Previa</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-file-text-o"></i>
                                        </span>
                      <span class="navi-text">CSV</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-file-pdf-o"></i>
                                        </span>
                      <span class="navi-text">PDF</span>
                    </a>
                  </li>
                </ul>
                <!--end::Navigation-->
              </div>
              <!--end::Dropdown Menu-->
            </div>
          </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
          <table id="TblProveedor" class="table table-separate table-head-custom dataTable no-footer dtr-inline" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Tipo Persona</th>
              <th>Tipo Documento</th>
              <th>Numero Identidad</th>
              <th>Tipo</th>
              <th>Correo</th>
              <th>Estado</th>
              <th>Condicion Pago</th>
              <th>Moneda</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div layout:fragment="scripts">
  <script th:src="@{/Scripts/Sistema/Proveedor.js}"></script>
</div>
</body>
</html>
