<!doctype html>
<html lang="es"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SkyNet</title>
    <link rel="stylesheet" th:href="@{/Libs/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/Libs/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/Libs/custom.min.css}"/>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a th:href="@{/}" class="site_title"><i class="fa fa-motorcycle"></i> <span>Currier del Peru</span></a>
            </div>

            <div class="clearfix"></div>


            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Mantenimientos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/cliente}">Cliente</a></li>
                      <li><a th:href="@{/motorizado}">Motorizado</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Asignacion <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/recojo}">Asignar</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> Consulta <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/recojo/ConsultaRecojosPorMotorizado}">Asignacion por Motorizado</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav">
              
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
      		<div layout:fragment="content">
      		</div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Proyecto Integrador <a href="https://utp.edu.pe/">UTP</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    
    <script th:src="@{/Libs/jquery.min.js}"></script>
     <script th:src="@{/Libs/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/Libs/custom.min.js}"></script>
    
     <div layout:fragment="scripts" >
       
    </div>    
  </body>
</html>