<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index.html}">

<head>
	<meta charset="utf-8">
	<title>Recojo</title>
</head>

<body>

	<div layout:fragment="content" class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 ">
				<div class="x_panel">
					<div class="x_title">
						<h2>Asignar Recojos <small></small></h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br>
						<form class="form-horizontal form-label-left">
							<div class="form-group">
								<div class="">
									<a href="/motorizado/nuevo" class="btn btn-primary mb-3">
										Recargar </a>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-striped jambo_table bulk_action">
									<thead>
										<tr class="headings">

											<th class="column-title" style="display: table-cell;">NUMERO </th>
											<th class="column-title" style="display: table-cell;">CLIENTE </th>
											<th class="column-title" style="display: table-cell;">FECHA </th>
											<th class="column-title" style="display: table-cell;">HORA </th>
											<th class="column-title" style="display: table-cell;">CONTACTO </th>
											<th class="column-title" style="display: table-cell;">ASIGNAR</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="recojo : ${recojos}" th:object="${recojo}">
											<td th:text="${recojo.id}"></td>
											<td th:text="${recojo.cliente.nombre}"></td>
											<td th:text="${#temporals.format(recojo.fecha,'dd/MM/yyyy')}"></td>
											<td th:text="${recojo.hora}"></td>
											<td th:text="${recojo.contacto}"></td>
											<td class="text-end">
												<a  class="btn btn-sm btn-dark" th:href="@{recojo/{id}/asignar(id=${recojo.id})}">Asignar</a>
										
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
</body>

</html>