<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index.html}">

<head>
	<meta charset="utf-8">
	<title>Consulta Asignaciones</title>
</head>

<body>

	<div layout:fragment="content" class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 ">
				<div class="x_panel">
					<div class="x_title">
						<h2>Consulta ASignaciones por Motorizado <small></small></h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br>
						<form class="form-horizontal form-label-left">
							<div class="form-group">
								<div class="">
									<a th:href="@{/recojo/ConsultaRecojosPorMotorizado}" class="btn btn-primary mb-3">
										Recargar </a>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-striped jambo_table bulk_action">
									<thead>
										<tr class="headings">

											<th class="column-title" style="display: table-cell;">ID </th>
											<th class="column-title" style="display: table-cell;">NOMBRE </th>
											<th class="column-title" style="display: table-cell;">ASIGNACIONES </th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="recojo : ${recojos}" th:object="${recojo}">
											<td th:text="${recojo.IdMotorizado}"></td>
											<td th:text="${recojo.NombreMotorizado}"></td>
											<td th:text="${recojo.TotalRecojo}"></td>											
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>